mat-list-item,
.interface__step-list-steps {
  min-height: 0!important;


}

.interface__step-list-steps {
  height: 50px;
  width: 50px;
  align-self: center;
}

.checked {
    background-color: green;
}

// .interface__lighter-list-lights {

//   position: relative;
//   left: 20px;
//   height: 2vw !important;
//   width: 2vw !important;
//   border-radius: 100%;
//   background-color: black;
// }

// .interface__position-list-numbers {
//   // align-items: center;
//   // text-align: center !important;
//   font-family: "Citypop" !important;
//   // align-self: center;
// }
