// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-list,
.track-list {
  display: flex!important;
  // gap: 20px;

    min-width: 0!important;
  min-height: 0!important;

}

mat-list-item,
.step-list__steps {
  min-height: 0!important;
  // grid-template-columns : repeat(5,1fr);
  // grid-template-rows : repeat(5,1fr);

}

.step-list__steps {
  height: 50px;
  width: 50px;
  align-self: center;
}

.step-list__steps:hover {
  background-color: blue;
}

.isInactive {
  background-color: black;
}

.isArmed {
  background-color: red;
}

.isLive {
  background-color: green;
}

.isCounting {
  background-color: black;
}

// .lighter-list {
// }

.lighter-list__lights {
  // display: flex !important;
  // justify-content: space-between !important;
  position: relative;
  left: 20px;
  height: 2vw !important;
  width: 2vw !important;
  border-radius: 100%;
  background-color: black;
}

// .itsLit {
// }

// .position-list {
// }

.position-list__numbers {
  // align-items: center;
  // text-align: center !important;
  font-family: "Citypop" !important;
  // align-self: center;
}
