
mat-list,
app-interface-element,
.interface__track-list {
  display: flex!important;

    min-width: 0!important;
  min-height: 0!important;

}

// mat-list-item,
// .interface__step-list-steps {
//   min-height: 0!important;
//   // grid-template-columns : repeat(5,1fr);
//   // grid-template-rows : repeat(5,1fr);

// }

// .interface__step-list-steps {
//   // display: inline-block;
//   background-color: black;

//   height: 50px;
//   width: 50px;
//   align-self: center;
// }


// .interface__lighter-list-lights {
//   // display: flex !important;
//   // justify-content: space-between !important;
//   position: relative;
//   left: 20px;
//   height: 2vw !important;
//   width: 2vw !important;
//   border-radius: 100%;
//   background-color: black;
// }

// .interface__position-list-numbers {
//   // align-items: center;
//   // text-align: center !important;
//   font-family: "Citypop" !important;
//   // align-self: center;
// }
