// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
.app__wrapper {
  margin: 10%;
  display: grid;
  width: 70%;
  grid-template-areas:
    "header"
    "main";
  grid-template-columns: 4fr;
  grid-template-rows: 30% 70%;
  background-color: #202020;
  //   border:solid 3px #red;
  // -moz-border-radius: 10px;
  // -webkit-border-radius: 10px;
  // border-radius: 10px;
}

.app-header__wrapper {
  width: 100%;
  grid-template-areas: "header";
// padding-bottom: 20rem;
  background-color: midnightblue;
}

.app-interface__wrapper {
  width: 100%;
  grid-template-areas: "main";
  background-color: grey;
}

