* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v4_1408 {
    width: 100%;
    height: 1080px;
    // background: url("../images/v4_1408.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v4_1409 {
    width: 100%;
    height: 100%;
    background: rgba(32,32,32,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v4_1408 {
    width: 100%;
    height: 1080px;
    // background: url("../images/v4_1408.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v4_1409 {
    width: 100%;
    height: 100%;
    background: rgba(32,32,32,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v4_1408 {
    width: 100%;
    height: 1080px;
    // background: url("../images/v4_1408.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v4_1409 {
    width: 100%;
    height: 100%;
    background: rgba(32,32,32,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v4_1408 {
    width: 100%;
    height: 1080px;
    // background: url("../images/v4_1408.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v4_1409 {
    width: 100%;
    height: 100%;
    background: rgba(32,32,32,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  