// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 80%;
  margin: 0;
  color: #f5fcfd;
  min-width: 320px;
  @media screen and (min-width: 320px) {
  }
  @media screen and (min-width: 680px) {
  }
  @media screen and (min-width: 1024px) {
  }
  font-family: 'Citypop', sans-serif;
}
@font-face {
  font-family: citypop;
  src: url(./assets/Fonts/CitypopMainDEMO-Regular.ttf) format("opentype");
}
