<div>
  <mat-list role="list" class="button-list">
    <mat-list-item *ngFor="let button of buttons"
      >{{ button.value }}
      <button
        class="button-list__buttons"
        (click)="(clickButton)"
        [ngClass]="{
          isInactive: !buttonArmed && !currentNote,
          isArmed: buttonArmed && !currentNote,
          isLive: buttonArmed && currentNote,
          isCounting: !buttonArmed && currentNote
        }"
      ></button>
    </mat-list-item>
  </mat-list>
  <mat-list role="list" class="lighter-list">
    <mat-list-item *ngFor="let lighter of lighters"
      >{{ lighter.value }}
      <button
        class="lighter-list__lights"
        [ngClass]="{
          itsLit: itsLit
        }"
      ></button>
    </mat-list-item>
  </mat-list>
  <mat-list role="list" class="position-list">
    <mat-list-item *ngFor="let position of positions"
      >{{ position.value }}
      <button
        class="position-list__number"
      ></button>
    </mat-list-item>
  </mat-list>
</div>
